<h1>List of all posts</h1>

<%= link_to 'Create New Post', new_post_path, class: 'btn btn-primary' %>

<hr>

<table border="1">
  <tr>
    <th>ID</th>
    <th>User</th>
    <th>Content</th>
    <th>Image</th>
    <th>Created at</th>
    <th>Updated at</th>
    <th>Actions</th>
  </tr>

  <% @list_of_posts.each do |a_post| %>
    <tr>
      <td><%= a_post.id %></td>
      <td><%= a_post.user.username %></td>
      <td><%= a_post.caption %></td> 
      <%= image_tag(a_post.image, alt: 'Post Image', class: 'post-image') if a_post.image.attached? %>
      <td><%= time_ago_in_words(a_post.created_at) %> ago</td>
      <td><%= time_ago_in_words(a_post.updated_at) %> ago</td>
      <td><%= link_to 'Show', post_path(a_post) %></td>
    </tr>
  <% end %>
</table>
