<h1>Post #<%= @the_post.id %> Details</h1>

<p><%= @post.caption %></p> <!-- Use caption, not content -->

<div>
  <div>
    <%= image_tag(@the_post.image.url) if @the_post.image.attached? %>
  </div>

  <p><%= @the_post.caption %></p>

  <%= link_to 'Back to Posts', posts_path %> |
  <%= link_to 'Edit Post', edit_post_path(@the_post) %> |
  <%= link_to 'Delete Post', post_path(@the_post), method: :delete, data: { confirm: "Are you sure?" } %>
</div>
